<footer class="p-3 bg-black text-center">
  <div class="container px-5">
    <div class="small text-white">
      <div>
        &copy; G12 Rentals 2024. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>